@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-list {
  @apply 
  fixed 
  flex 
  flex-col 
  justify-center 
  items-center 
  top-0 
  left-0 
  h-screen 
  w-full 
  px-8 
  bg-yellow-300 
  md:bg-transparent 
  md:flex-row 
  md:h-auto 
  md:static 
  md:justify-between;
}

.nav-items {
  @apply 
  text-white 
  md:text-black 
  hover:text-red-600 
  text-xl 
  font-bold 
  transition 
  duration-300 
  ease-in;
}

.btn-play {
  @apply 
  text-white 
  mx-4 
  border-2 
  px-8 
  py-3 
  rounded-full 
  text-xl 
  font-semibold 
  border-yellow-400 
  bg-green-400 
  hover:text-green-300 
  hover:border-white
  hover:bg-transparent 
  transition
  duration-300
  ease-in-out;
}

.btn-app {
  @apply
  text-white 
  mx-4 
  border-2 
  px-8 
  py-3 
  rounded-full 
  text-xl 
  font-semibold 
  bg-transparent 
  border-yellow-400 
  hover:bg-green-400 
  hover:border-white 
  hover:text-white
  transition
  duration-300
  ease-in-out;
}

.app-content {
  @apply
  flex 
  justify-evenly 
  items-center 
  md:flex-row 
  flex-col
  py-6
}

.app-title {
  @apply
  py-5 
  font-bold 
  text-3xl 
  leading-relaxed 
  max-w-md 
  text-yellow-300
}

.app-desc {
  @apply
  text-lg 
  text-gray-500
  font-light
  max-w-sm
  mx-auto
  md:mx-0
}

